@model CategoryListViewModel


<div class="row">
    <div class="col-md-12">
        <h1>Admin Categories</h1>
        <hr>
        <a href="/admin/categories/create" class="btn btn-primary btn-sm">Add Category</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                   
                    <td>Name</td>
                    
                    <td style="width: 150px;"></td>
                </tr>
            </thead>

            <tbody>
               @if (Model.categories.Count>0)
               {
                    @foreach (var item in Model.categories)
                  {
                    <tr>
                        <td>@item.CategoryId</td>
                       
                        <td>@item.Name</td>
                        
                        <td>
                            <a href="/admin/categories/@item.CategoryId" class="btn btn-primary btn-sm mr-2">Edit</a>
                             <form style="display: inline;" action="/admin/deletecategory">
                                   <input type="hidden" name="CategoryId" value="@item.CategoryId">
                                   <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
                             </form>
                            
                        </td>
                    </tr>
                  }
                }else{
                    <div class="alert alert-warning">
                        <h3>No Category</h3>
                    </div>
                }
                
               
            </tbody>
        </table>
    </div>
</div>