 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam dolorum adipisci ullam
                    asperiores accusantium ipsa soluta omnis! Ab perspiciatis officia possimus itaque aspernatur eaque
                    voluptates, laudantium nihil provident, pariatur voluptatem.</p>
            </div>
        </div>
    </header>